<Configuration status="warn">
    <Appenders>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%c{1}:%L] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <!-- Root logger referring to console appender -->
        <Root level="${sys:org.groovymc.modsdotgroovy.conversion.logging:-info}" additivity="false">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>